<footer class="page-footer font-small ml-auto bg-dark navbar-dark" style="box-shadow: 0 0 15px rgba(0,0,0,.7);">
  <!-- Copyright -->
  <div class="footer-copyright text-center shadow py-3">© 2019 Copyright:
    <a type="button" data-toggle="modal" data-target="#show_info" style="color: white; text-decoration: underline;"> by Catcode </a>    
    <!-- Modal -->
    <div class="modal fade" id="show_info" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">About Me</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="facebook-profile">
                        <img src="https://graph.facebook.com/1102726105/picture?type=large" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                    </div>
                    <div class="about-my mt-4">
                        <p>
                            Soy estudiante de 2do año de Ingenieria en informática.
                            Busco convertirme en un desarrollador fullStack y este es
                            mi primer proyecto aplicando NodeJS junto a MySQL para manejar
                            los datos de los usuarios. Esta aplicación posee autentificación
                            de usuarios, encriptacion de contraseñas, manejo de imagenes en 
                            servidor y privacidad de informacion en usuarios.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                <div class="social-container">
                    <a href="https://github.com/CATC90" target="_blank" class="my-social-media"><i class="fab fa-github-alt"></i></a>
                    <a href="https://www.facebook.com/Catc90" target="_blank" class="my-social-media" style="color:#3b5998;"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/carlostrujillocuevas/" target="_blank" class="my-social-media" style="color:#FD1D1D;"><i class="fab fa-instagram"></i></a>
                </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

  </div>
  <!-- Copyright -->

</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>
</html>